.TonicEmbed {
	margin: 0 1.5em;
}

.TonicEmbed > iframe {
	position: relative;
	z-index: 10;
}

.TonicEmbed.is-success:after, .TonicEmbed.is-failure:after {
	bottom: 53px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	color: #fff;
	content: attr(data-message);
	display: block;
	padding: 0.2em 0.4em;
	position: relative;
	z-index: 0;
}

.TonicEmbed.is-success:after {
	background-color: rgb(90, 200, 90);
}

.TonicEmbed.is-failure:after {
  background-color: rgb(200, 90, 90);
}